/* Custom Styles */
.custom-navbar {
  padding: 10px 0;
  width: 100%;
  margin: 0;
}

.custom-logo {
  max-width: 120px;
  width: 100%;
  height: auto;
}

.nav-link {
  font-size: 18px;
  padding: 8px 12px;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-collapse {
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .custom-logo {
    max-width: 80px;
  }

  .nav-link {
    font-size: 16px;
  }

  .custom-navbar {
    padding: 5px;
  }
}

/* Hero section */
.hero {
  background-image: url('../images/inclusion.png');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 13px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .hero {
    height: 50vh;
    font-size: 2rem;
  }
}

/* Programs Section */
.program-section {
  padding: 50px 20px;
  background-color: #82D3A2;
}

.program-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.program-col {
  flex: 1;
  margin: 10px;
  min-width: 300px;
}

.program-card {
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.program-img {
  width: 100%;
  border-radius: 8px;
}

.program-card h3 {
  margin-top: 15px;
  font-size: 1.5em;
  color: black;
  text-decoration: underline;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #F3CA4D;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .program-row {
    flex-direction: column;
    align-items: center;
  }

  .program-col {
    margin-bottom: 20px;
  }
}

/* Footer */
footer {
background-color: #F3CA4D;
color: white;
padding: 50px 0;
}

footer .container {
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

footer .row {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

footer .col {
flex: 1;
margin: 10px;
}

footer h5 {
margin-bottom: 15px;
}

footer ul {
list-style-type: none;
padding: 0;
}

footer ul li {
margin-bottom: 10px;
}

footer a {
color: white;
text-decoration: none;
}

footer a:hover {
text-decoration: underline;
}

footer .social-links {
display: flex;
padding: 0;
}

footer .social-links li {
margin-right: 15px;
}

footer .social-links a {
color: white;
font-size: 1.5em;
}

footer .footer-bottom {
text-align: center;
margin-top: 20px;
}

@media (max-width: 768px) {
footer .row {
flex-direction: column;
text-align: center;
}

footer .col {
margin-bottom: 20px;
}

footer .social-links {
justify-content: center;
}
}
